:root {
  --game-title: 'Kavoon', serif;
  --game-title-rps: 'Monofett', serif;
  --button-text: 'Jersey 25', serif;
  --rules-title: 'Rouge Script', serif;
  --rules-text: 'Architects Daugher', serif;
}