:root {
  --winner-text: 'Kavoon', serif;
  --button-text: 'Jersey 25', serif;
  --rules-title: 'Rouge Script', cursive;
  --rules-text: 'Architects Daughter', serif;
  --grid-line-color: #ddd;
  --black: rgb(51, 51, 51);
}